.DS_Store
node_modules
dist
.temp
.eslintcache
.nuxt
.env

# SSL keys
localhost_cert.pem
localhost_key.pem
localhost_fullchain.pem
server.key
server.crt

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.history
