/* IBM Plex Sand */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./IBMPlexSans-Regular.woff2') format('woff2 supports variations');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./IBMPlexSans-SemiBold.woff2') format('woff2-variations');
    font-weight: bold;
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }