h1 {
    @apply font-display;

    line-height: 1.2;
    font-weight: 500;
    font-size: 2.1875rem;
    letter-spacing: -0.01em;
}

h2 {
    @apply font-sans;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
}

@screen lg {
    h1 {
        font-size: 3.125rem;
    }
}

@screen sm {
    h2 {
        font-size: 1.5rem;
    }

    h4 {
        line-height: 1.4;
    }
}